@charset "UTF-8";
body{
	font-family : 'Noto Sans KR',sans-serif;
}

/* 관광지 검색 화면 */
#attrSearchWrap{
	width : 100%;
	z-index : 1;
	position : relative;
}

#attrSearchWrap::after{
		width : 100%;
		height : 660px;
		background-image : url("../images/attraction/attractionback.jpg");
		background-size : cover;
		content : "";
		position : absolute;
		top : 0;
		left : 0;
		z-index : -1;
		opacity : 0.3;
}

#attrSearchArea{
	height: auto;
	width: 700px;
	margin: 0 auto;
}

#searchTextDiv{
	text-align: center;
}

#searchText{
	font-size: 12px;
	width: 95%;
	margin-bottom: 50px;
}

.attrLocation{
	display: none;
	margin: 10px;
}

.attrLocation + label{
	float: left;
	padding: 5px 0px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	font-size: 12px !important;
	width: 110px;
	width: 8%;
	text-align: center;
	margin-bottom: 50px;
}

.attrLocation:checked + label{
	background-image: none;
	background-color: #A8D1F0;
	color: #fff;
}

#radioAll + label{
	margin-left: 15px;
}

.searchChkDiv{
	margin-left: 120px;
	margin-bottom: 50px;
}

.TripType{
	margin-right: 170px;
}

.searchBtnDiv{
	margin-left: 310px;
}