@charset "UTF-8";
body{
	margin: 0;
}
#tk_logo{
	width: 20%;
	padding-left:  80px;
	padding-right: 100px;
	margin-right:150px;
}
#tk_logo_img{
	width: 250px;
	height: 55px;
}
#tk_wrapper {
   position : fixed;
}
#tk_header{
   background-color: white;
   list-style-type: none;
   position: fixed;
   top: 0px;
   width: 100%;
   height: 80px;
   margin:0;
   padding-top : 10px;
   padding-left: 0;
}
#tk_menu1{
	line-height: 50px;
	height: 100%;
	width: 10%;
}
#tk_menu2{
	line-height: 50px;
	height: 100%;
	width: 10%;
}
#tk_menu3{
	line-height: 50px;
	height: 100%;
	width: 10%;
}
.tk_h_item{
	font-weight: bold;
	font-size: 16px;
	float: left;
	text-align: center;
	vertical-align: middle;
}
#tk_login_btn{
	font-weight: bold;
	font-size: 16px;
	float: left;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	height: 100%;
	width: 20%;
	padding-left: 180px;
}
.tk_h_item a{
	display: block;
	color: black;
	text-align: center;
	text-decoration: none;
}
#tk_menu1 a:hover{
	color: #A8D1F0;
}
#tk_menu2 a:hover{
	color: #A8D1F0;
}
#tk_menu3 a:hover{
	color: #A8D1F0;
}
#tk_login a:hover{
	color: #A8D1F0;
}
#tk_wrap{
	height : 80px;
	border-bottom: 1px solid lightgray;
}
#login{
	margin-top:15px;
	padding-right:50px;
}

/* a{
	display: block;
	color: black;
	text-align: center;
	text-decoration: none;
} */
#tripMenu{
	display:none;
	height: 30px;
}
#trip_menu{
	list-style: none;
}
.menu_item{
	text-align:center;
	float: left;
	width: 24%;
	height: 50px;
}
