@charset "UTF-8";

body {
	margin : 0 auto;
}
li {
  list-style-type: none;
}

/* roomSearchView.jsp */
#search-wrapper {
	width : 100%;
	height : 660px;
	z-index : 1;	
	position : relative;
}
	#search-wrapper::after {
		width : 100%;
		height : 660px;
		background-image : url("../images/room/background.jpg");
		background-size : 100% 100%;
		content : "";
		position : absolute;
		top : 0;
		left : 0;
		z-index : -1;
		opacity : 0.2;
	}
	#search-area {
		width : 1200px;
		margin : 0 auto;
		padding-top : 120px;
		padding-bottom : 20px;
	}
	#choice-area {
		width : 1200px;
		margin : 0 auto;
		padding-top : 60px;
		text-align : center;
	}
	.areaBt-first {
		display : inline-block;
		width : 104px;
		height : 40px;
		border : solid 1px lightgray;
		background-color : white;
	}
	.areaBt {
		display : inline-block;
		width : 104px;
		height : 40px;
		margin-left : -10px;
		border : solid 1px lightgray;
		background-color : white;
	}
#search-button {
	width : 100%;
	text-align : center;
}
	#sbutton {
		width : 100px;
		height : 40px;
		border : solid 2px lightgray;
		border-radius : 15px;
		background-color : white;
	}
	/* 체크인, 체크아웃 */
	#choice-checkIn {
		width : 100%;
		text-align : center;
		padding-top : 60px;
	}
		.room-check {
			width : 250px;
			height : 40px;
			border : solid 1px lightgray;
			border-radius : 10px;
			text-align : center;
			font-size : 15px;
		}
		#check-in {
			margin-right : 50px;
		}
	#choice-place {
		width : 1200px;
		text-align : center;
	}
	/* 숙소 종류 선택 */
	#choice-type {
		width : 40%;
		float : left;
		padding-top : 60px;
		padding-left : 40px;
	}
	/* 숙소 인원 선택 */
	#choice-person {
		width : 30%;
		float : left;
		padding-top : 60px;
		margin-left : 40px;
	}
		#person-text {
			float : left;
		}
	/* 반려견 동반 여부 선택 */
	#choice-pet {
		width : 30%;
		float : right;
		margin-top : -30px;
	}
		#pet-text {
			float : left;
			margin-left : 60px;
			margin-right : 80px;
		}
/* roomCreateForm.jsp */
.first-text {
	font-size : 18px;
	text-align : center;
}
/* 숙소 정보 입력 */
#plus-wrapper {
	width : 800px;
	margin : 0 auto;
	padding-left : 600px;
}
	/* 카테고리 */
	#category-text {
		float : left;
	}
	#category-choice {
		width : 80px;
		margin-top : 20px;
		margin-left : 20px;
	}
	/* 이름 */
	#name-text {
		float : left
	}
	#name-input {
		margin-top : 20px;
		margin-left : 20px;
	}
	/* 가격 */
	#price-text {
		float : left;
	}
	#room-price {
		margin-top : 20px;
		margin-left : 20px;
	}
	/* 지역 */
	#area-text {
		float : left;
	}
	#area-choice {
		width : 80px;
		margin-top : 20px;
		margin-left : 20px;
	}
	/* 주소 */
	#address-text {
		float : left;
	}
	#address-search {
		margin-top : 20px;
		margin-left : 20px;
	}
	#rAddress1 {
		width : 200px;
		height : 18px;
		margin-left : 20px;
	}
	#rAddress2 {
		width : 200px;
		height : 18px;
	}
	/* 전화번호 */
	#tel-text {
		float : left
	}
	#roomTel {
		margin-top : 20px;
		margin-left : 20px;
	}
	/* 입실 가능 인원 */
	#person-text {
		float : left;
	}
	#roomPerson {
		margin-top : 20px;
		margin-left : 20px;
	}
	/* 애견동반 가능여부 */
	#pet-text {
		margin-left : 0px;
		margin-right : 30px;
	}
	#roomPet {
		margin-top : 20px;
	}
	/* 주차 정보, 대중교통 정보, 숙소 정보 */
	#roomCar {
		width : 500px;
		height : 100px;
		resize : none;
	}
	#roomLocation {
		width : 500px;
		height : 100px;
		resize : none;
	}
	#roomGuide {
		width : 500px;
		height : 200px;
		resize : none;	
	}
/* 등록 버튼 */
#room-button {
	width : 100%;
	padding-left : 170px;
	text-align : center;
}
#rbutton {
	width : 100px;
	height : 30px;
	border : solid 1px lightgray;
	border-radius : 15px;
}
/* roomDataList.jsp */
#rdata-list {
	width : 1400px;
	padding-left : 280px;
	margin : 0 auto;
}
#roombody {
	height : 45px;
	line-height : 45px;
}
/* 페이징 처리 */
#rdata-page {
	width : 1500px;
	padding-top : 50px;
	padding-left : 880px;
	text-align : center;
}
#rlist-page {
	width : 1500px;
	padding-top : 50px;
	padding-left : 800px;
	padding-bottom : 40px;
	text-align : center;
}
#pageback {
	float : left;
	margin-left : 20xpx;
	margin-right : 20px;
}
#pagecurrent {
	float : left;
	margin-left : 5px;
	margin-right : 5px;
}
#pageother {
	float : left;
	margin-left : 5px;
	margin-right : 5px;
}
#pagenext {
	float : left;
	padding-left : 20px;
	margin-right : 20px;
}
/* roomDataDetail.jsp */
.detail-button {
	width : 100px;
	height : 40px;
	margin-left : 20px;
	margin-right : 20px;
	border : solid 1px lightgray;
	border-radius : 15px;
	background-color : white;
}
#roomimg-area {
	margin-left : 0px;
}
/* roomDataModify.jsp */
#updateRoom {
	width : 1000px;
	margin-left : 400px;
	text-align : center;
}
	#first-text {
		font-size : 20px;
	}
	#second-text {
		font-size : 16px;
		color : #206aa1;
	} 
	.update-text {
		display : inline-block;
	}
		#update-price {
			width : 100px;
			margin-left : 20px;
		}
		#uptext {
			padding-top : -10px;
			color : #206aa1;
			font-size : 15px;
		}
		#uAddress1 {
			width : 220px;
		}
		#uAddress2 {
			width : 220px;
		}
/* roomSearchList.jsp */
#roomlist {
	width : 100%;
	margin : 0 auto;
	padding-top : 50px;
}
#roomlist-outside {
	margin : 0 auto;
	width : 800px;
	padding-top : 50px;
	padding-bottom : 300px;
}
	#roomlist-left {
		width : 20%;
		float : left;
	}
	#roomlist-right {
		width : 70%;
		padding-top : 20px;
		padding-left : 150px;
		float : left;
	}
	#roomlist-price {
		float : right;
		padding-top : 140px;
	}
		#roomlist-img {
			width : 250px;
			height : 250px;
		}
#roomlist-hr {
	width : 800px;
}

/* roomSearchDetail.jsp */
#top-wrapper {
	width : 1200px;
	margin : 0 auto;
}
	#top-text{
		text-align : center;
		margin-top : 80px;
		margin-bottom : 80px;
	}
		#top-name {
			font-size : 18px;
			font-weight : bold;
		}
		#top-price {
			font-size : 16px;
		}
	#top-picture {
		width : 1250px;
		margin : 0 auto;
	}
		#pic-left {
			width : 48%;
			float : left;
		}
		#pic-right {
			width : 50%;
			float : left;
		}
		#right-top {
			float : left;
		}
		.right-pic {
			margin-right : 10px;
			margin-bottom : 10px;
		}
#top-button {
	width : 1200px;
	text-align : center;
}
	.detail-button {
		width : 100px;
		height : 40px;
		margin-top : 50px;
		margin-bottom : 50px;
		background-color : white;
		border : solid 1px lightgray;
		border-radius : 15px;
	}
#detail-hr {
	width : 1200px;
	margin : 0 auto;
}
#context-wrapper {
	text-align : center;
}
.detail-text {
	margin-top : 50px;
	margin-bottom : 80px;
	font-size : 18px;
	font-weight : bold;
}
#detail-room {
	width : 1000px;
	margin : 0 auto;
	text-align : left;
}
#room-imglist {
	text-align : center;
}
	.room-images {
		margin-top : 10px;
		margin-bottom : 10px;
	}