@charset "UTF-8";

body {
	margin : 0 auto;
}

/* tripWriteForm.jsp */
.first-text {
	text-align : center;
	padding-top : 50px;
	font-size : 20px;
}
.second-text {
	text-align : center;
	padding-top : 10px;
	font-size : 12px;	
}

#text-area {
	padding-top : 50px;
	text-align : center;
}
	#textTitle {
		width : 800px;
		height : 40px;
	}
	#textContent {
		margin-top : 10px;
		width : 800px;
		height : 500px;
		resize : none;
	}
	
	#formFileSm {
		width : 800px;
		margin : 0 auto;
		border-color : gray;
	}
	
#add-wrapper {
	width : 100%;
	margin : 0 auto;
}
	#add-outside {
		width : 1000px;
		height : 250px;
		margin : 0 auto;
		text-align : center;
	}
	.trip-add {
		width : 200px;
		height : 200px;
		display : inline-block;
		border : solid 1px gray;
		margin-left : 20px;
		margin-right : 20px;	
	}
		#add-button {
		
		}
	
#trip-button1 {
	text-align : center;
	padding-top : 20px;
}
	#tbutton1 {
		margin-right : 30px;
		width : 100px;
		height : 40px;
		background-color : white;
		border : solid 1px gray;
		border-radius : 20px;
	}
	#tbutton2 {
		margin-left : 30px;
		width : 100px;
		height : 40px;
		background-color : white;
		border : solid 1px gray;
		border-radius : 20px;
	}
/* tripDetailView.jsp */
/* 상세페이지 상단 */
#member-inf {
	width : 100%;
	height : 250px;
	padding-top : 130px;
	vartical-align : middle;
	text-align : center;
	font-color : black;
	font-size : 25px;
	background-color : lightgray;
}
#first {
	margin : 0 auto;
	width : 900px;
	height : 450px;
}
	#first-left {
		float : left;
		text-align : center;
		width : 50%;
		height : 400px;
	}
	#first-right {
		float : right;
		width : 50%;
		height : 350px;
	}
/* 상세페이지 선택버튼(수정, 삭제, 신고) */
#choice-drop {
	float : right;
}
#choiceBt {
	border : none;
	background-color : white;	
}
#choice-menu {
	height : 80px;
	font-size : 12px;
}
	#choice-menu1 {
		width : 160px;
		height : 30px;
		text-align : center;
		font-size : 12px;
	}
	#choice-menu2 {
		width : 160px;
		height : 30px;
		text-align : center;
		font-size : 12px;
	}
/* 좋아요, 조회수 */
#like-count {
	height : 50px;
	text-align : center;
}

/* 상세페이지 이동버튼 (이전 게시글, 목륵으로, 다음게시글) */
#button-move {
	text-align : center;
}
	.but-move {
		width : 100px;
		height : 35px;
		margin-left : 20px;
		margin-right : 20px;
		border : solid 1px gray;
		border-radius : 15px;
		background-color : white;
	}
	
/* 댓글 작성 */
#tReply-wrapper {
	width : 60%;
	margin : 0 auto;
}
	#tReply-background {
		width : 100%;
		height : 170px;
		text-align : center;
		border : solid 1px lightgray;
		background-color : lightgray;
	}
	#tReply-write {
		width : 97%;
		height : 100px;
		margin : 10px 5px 5px 5px;
		font-size : 15px;
		border : none;
		resize : none;
	}
	#tReply-writebt {
		float : right;
		width : 100px;
		height : 35px;
		margin-right : 10px;
		border : solid 1px lightgray;
		border-radius : 15px;
		background-color : white;
	}
/* 댓글 목록 */
#reply-list {
	width : 900px;
	height : 150px;
	margin : 0 auto;
}
	#profile-wrapper {
		width : 1%;
		margin-top : 50px;
	}
		#profile-user {
			width : 80px;
			height : 80px;
			margin-left : 20px;
			float : left;
			border : solid 1px gray;
			border-radius : 50%;
		}
	#user-wrapper {
		width : 60%;
		margin-left : 120px;
	}
	#user-comment {
		margin-top : 10px;
		margin-top : 10px;
		margin-left : 120px;
	}
/* tripListView.jsp */
#back-img {
	width : 100%;
	height : 400px;
	z-index : 1;
	position : relation;
}
	#back-img::after {
		width : 100%;
		height : 400px;
		background-image : url("../images/trip/tripListBackground.jpg");
		background-size : 100% 100%;
		content : "";
		position : absolute;
		top : 0;
		left : 0;
		z-index : -1;
		opacity : 0.2;
	}
	#intext {
		margin-top : 120px;
		line-height : 40px;
		font-size : 15px;
	}
	#writeBt {
		width : 180px;
		height : 45px;
		font-size : 16px;
		background-color : white;
		border : solid 1px gray;
		border-radius : 20px;
	}

#card-wrapper {
	width : 1400px;
	margin : 0 auto;
}
	#card-outside {
		width : 1400px;
		height : 2300px;
		margin : 0 auto;
	}
	#card-inside {
		display : inline-block;
		float : left;
		margin-left : 50px;
		margin-bottom : 40px;
	}
	#list-title {
		font-size : 15px;
		height : 10px;
	}
	#list-text {
		font-size : 14px;
		margin-top : 10px;
		height : 150px;
		overflow : hidden;
	}
	#like-counter {
		font-size : 12px;
	}
	#card-maker {
		margin-top : 15px;
		font-size : 12px;
		float : right;
	}
	
#input-group {
	width : 1200px;
	margin : 0 auto;
	padding-bottom : 120px;
}
	#searchBt {
		border : solid 1px lightgray;
		color : BLACK;
	}
	#searchBt:hover {
		background-color : #A8D1F0;
		color : white;
	}
	
.top-text {
	text-align : center;
	font-size : 30px;
}
/* 페이징 처리 */
#trip-page{
	width: 100%;
	margin : 0 auto;
	text-align : center;
}
	#trip-list{
		padding-top: 30px;
	}
	#trip-list a{
		text-decoration: none;
	}
	#page-back{
		color: black;
		font-size: 14px;
		padding-right: 30px;
	}
	#page-next{
		color: black;
		font-size: 14px;
		padding-left: 25px;
	}
	#page-current{
		padding-right: 5px;
		font-size: 15px;
		color: #A8D1F0;
	}
	#page-other{
		padding-right: 5px;
		font-size: 15px;
		color: black;
	}