<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="AdminMapper">
 	<resultMap type="Report" id="ReportResultMap">
 		<id property="reportNo" column="REPORT_NO" />
 		<result property="commonType" column="COMMON_TYPE" />
 		<result property="commonNo" column="COMMON_NO" />
 		<result property="reportType" column="REPORT_TYPE" />
 		<result property="reportTitle" column="REPORT_TITLE" />
 		<result property="reportContents" column="REPORT_CONTENTS" />
 		<result property="reportDate" column="REPORT_DATE" />
 		<result property="memberId" column="MEMBER_ID" />
 	</resultMap>
 	<resultMap type="Member" id="MemberResultMap">
 		<id property="memberId" column="MEMBER_ID"/>
 		<result property="memberPwd" column="MEMBER_PWD"/>
 		<result property="memberEmail" column="MEMBER_EMAIL"/>
 		<result property="memberName" column="MEMBER_NAME"/>
 		<result property="memberNick" column="MEMBER_NICK"/>
 		<result property="memberBd" column="MEMBER_BD"/>
 		<result property="memberGrade" column="MEMBER_GRADE"/>
 		<result property="memberGender" column="MEMBER_GENDER"/>
 		<result property="memberPhone" column="MEMBER_PHONE"/>
 		<result property="mPfpName" column="M_PFP_NAME"/>
 		<result property="mPfpReName" column="M_PFP_RENAME"/>
 		<result property="mPfpPath" column="M_PFP_PATH"/>
 		<result property="mRegisterDate" column="M_REGISTER_DATE"/>
 		<result property="mStatus" column="MEMBER_STATUS"/>
 		<result property="adminYN" column="ADMIN_YN"/>
 	</resultMap>
 	<resultMap type="Trip" id="tripResultMap">
		<id property="tripNo" column="TRIP_NO" />
 		<result property="tripTitle" column="TRIP_TITLE" />
 		<result property="tripContents" column="TRIP_CONTENTS" />
 		<result property="tripWriter" column="TRIP_WRITER" />
 		<result property="tripCreate" column="TRIP_CREATE" />
 		<result property="tripUpdate" column="TRIP_UPDATE" />
 		<result property="tripFileName" column="TRIP_FILENAME" />
 		<result property="tripFileRename" column="TRIP_FILERENAME" />
 		<result property="tripFilePath" column="TRIP_FILEPATH" />
 		<result property="tripStatus" column="TRIP_STATUS" />
 		<result property="tripCount" column="TRIP_COUNT" />
 		<result property="tripLike" column="TRIP_LIKE" />
 		<result property="tripShow" column="TRIP_SHOW" />
 	</resultMap>
 	<resultMap type="Grade" id="GradeResultMap">
		<id property="gradeNo" column="GRADE_NO" />
 		<result property="contentsCode" column="CONTENTS_CODE" />
 		<result property="contentsNo" column="CONTENTS_NO" />
 		<result property="gradeComment" column="GRADE_COMMENT" />
 		<result property="gradeStar" column="GRADE_STAR" />
 		<result property="gradeCreate" column="GRADE_CREATE" />
 		<result property="memberId" column="MEMBER_ID" />
 	</resultMap>
 	<resultMap type="Notice" id="noticeResultMap">
		<id property="noticeNo" 		column="NOTICE_NO"/>
		<result property="noticeWriter"	column="NOTICE_WRITER"/>
		<result property="noticeTitle" 	column="NOTICE_TITLE"/>
		<result property="nCreateDate" 	column="N_CREATE_DATE"/>
		<result property="nUpdateDate" 	column="N_UPDATE_DATE"/>
		<result property="nContents" 	column="N_CONTENTS"/>
		<result property="noticeCount" 	column="NOTICE_COUNT"/>
		<result property="noticeStatus" column="NOTICE_STATUS"/>
	</resultMap>
 	<resultMap type="NoticeImg" id="noticeImgResultMap">
		<id property="imgNo" 		column="IMG_NO"/>
		<result property="noticeNo"	column="NOTICE_NO"/>
		<result property="nFileName" 	column="N_FILENAME"/>
		<result property="nFileRename" 	column="N_FILERENAME"/>
		<result property="nFilePath" 	column="N_FILEPATH"/>
	</resultMap>
 
 	<!--회원 관리  -->
 	<select id="selectAllMember" resultMap="MemberResultMap">
 		SELECT * FROM MEMBER_TBL WHERE MEMBER_STATUS = 'Y'
 	</select>
 	<select id="selectOneMember" resultMap="MemberResultMap">
 		SELECT * FROM MEMBER_TBL
 		WHERE MEMBER_ID = #{memberId}
 		AND MEMBER_NAME = #{memberName}
 		AND MEMBER_STATUS = 'Y'
 	</select>
 	<select id="getMemberTotalCount" resultType="_int">
 		SELECT COUNT(*) FROM MEMBER_TBL
 	</select>
	<update id="deleteMember">
		UPDATE MEMBER_TBL SET MEMBER_STATUS = 'N' WHERE MEMBER_ID = #{memberId}
	</update>
	<update id="updateMember">
		UPDATE MEMBER_TBL SET MEMBER_ID = #{memberId}, MEMBER_PWD = #{memberPwd}, MEMBER_EMAIL = #{memberEmail}, MEMBER_NAME = #{memberName}, MEMBER_NICK = #{memberNick}, MEMBER_BD = #{memberBd}, MEMBER_GRADE = #{memberGrade}, MEMBER_GENDER = #{memberGender}, MEMBER_PHONE = #{memberPhone}
		WHERE MEMBER_ID = #{memberId}
	</update>
	
	<!--신고 조회  -->
 	<select id="selectAllReport" resultMap="ReportResultMap">
 		SELECT * FROM REPORT_TBL
 	</select>
 	<select id="getReportTotalCount" resultType="_int">
 		SELECT COUNT(*) FROM REPORT_TBL
 	</select>
 	<select id="selectOneReport" resultMap="ReportResultMap">
 		SELECT * FROM REPORT_TBL WHERE REPORT_NO = #{reportNo}
 	</select>
 	
 	<!--신고된 컨텐츠 가져오기 -->
 	<select id="selectTripByNo" resultMap="tripResultMap">
 		SELECT * FROM TRIP_TBL WHERE TRIP_NO = #{cotentsNo}
 	</select>
 	<select id="selectTripRelyByNo">
 		SELECT * FROM T_REPYL_TBL WHERE T_REPLY_NO = #{cotentsNo}
 	</select>
 	<select id="selectNoticeReplyByNo">
 		SELECT * FROM N_REPLY_TBL WHERE N_REPLY_NO = #{cotentsNo}
 	</select>
 	<select id="selectGradeByNo" resultMap="GradeResultMap">
 		SELECT * FROM GRADE_TBL WHERE GRADE_NO = #{cotentsNo}
 	</select>
 	
 	<!-- 신고 컨텐츠 삭제  -->
	<delete id="deleteTripByNo">
		DELETE FROM TRIP_TBL WHERE TRIP_NO = #{tripNo}
	</delete>
	<delete id="deleteTripReplyByNo">
		DELETE FROM TRIP_REPLY_TBL WHERE TRIP_REPLYT_NO = #{tReplyNo}
	</delete>
	<delete id="deleteNoticeReplyByNo">
		DELETE FROM NOTICE_REPLY_TBL WHERE NOTICE_REPLY_NO = #{nReplyNo}
	</delete>
	<delete id="deleteGradeByNo">
		DELETE FROM GRADE_TBL WHERE GRADE_NO = #{gradeNo}
	</delete>
	<!--신고 완료 처리  -->
	<delete id="deleteReport">
		DELETE FROM REPORT_TBL WHERE REPORT_NO = #{reportNo}
	</delete>
	
	<!--공지 등록  -->
	<insert id="registerNotice">
		INSERT INTO NOTICE_TBL
		VALUES(SEQ_NOTICE_NO.NEXTVAL, #{noticeWriter}, #{noticeTitle}, DEFAULT, DEFAULT, #{nContents}, DEFAULT, DEFAULT)
	</insert>
	<!--공지 이미지 등록 -->
	<insert id="registerNoticeImg">
		INSERT INTO NOTICE_IMG
		VALUES(SEQ_N_IMG_NO.NEXTVAL, SEQ_NOTICE_NO.CURRVAL, #{nFileName}, #{nFileRename}, #{nFilePath})
	</insert>
	<!--공지 조회  -->
	<select id="noticeDetail" resultMap="noticeResultMap">
	SELECT * FROM NOTICE_TBL WHERE NOTICE_NO = #{noticeNo}
	</select>
	<!--공지 이미지 조회  -->
	<select id="noticeImgDetail" resultMap="noticeImgResultMap">
	SELECT * FROM NOTICE_IMG WHERE NOTICE_NO = #{noticeNo}
	</select>
	<!--공지 수정  -->
	<update id="updateNotice">
		UPDATE NOTICE_TBL SET NOTICE_TITLE = #{noticeTitle}, N_UPDATE_DATE = DEFAULT, N_CONTENTS = #{nContents} WHERE NOTICE_NO = #{noticeNo}
	</update>
	<!--공지 이미지 수정  -->
	<update id="updateNoticeImg">
		UPDATE NOTICE_IMG SET N_FILENAME = #{nFileName}, N_FILERENAME = #{nFileRename}, N_FILEPATH = #{nFilePath} WHERE IMG_NO = #{imgNo}
	</update>
 </mapper>