<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="AdminMapper">
 	<resultMap type="Report" id="ReportResultMap">
 		<id property="reportNo" column="REPORT_NO" />
 		<result property="commonType" column="COMMON_TYPE" />
 		<result property="commonNo" column="COMMON_NO" />
 		<result property="reportType" column="REPORT_TYPE" />
 		<result property="reportTitle" column="REPORT_TITLE" />
 		<result property="reportContents" column="REPORT_CONTENTS" />
 		<result property="reportDate" column="REPORT_DATE" />
 	</resultMap>
 	<resultMap type="Member" id="MemberResultMap">
 		<id property="memberId" column="MEMBER_ID"/>
 		<result property="memberPwd" column="MEMBER_PWD"/>
 		<result property="memberEmail" column="MEMBER_EMAIL"/>
 		<result property="memberName" column="MEMBER_NAME"/>
 		<result property="memberNick" column="MEMBER_NICK"/>
 		<result property="memberBd" column="MEMBER_BD"/>
 		<result property="memberGrade" column="MEMBER_GRADE"/>
 		<result property="memberGender" column="MEMBER_GENDER"/>
 		<result property="memberPhone" column="MEMBER_PHONE"/>
 		<result property="mPfpName" column="M_PFP_NAME"/>
 		<result property="mPfpReName" column="M_PFP_RENAME"/>
 		<result property="mPfpPath" column="M_PFP_PATH"/>
 		<result property="mRegisterDate" column="M_REGISTER_DATE"/>
 		<result property="mStatus" column="MEMBER_STATUS"/>
 		<result property="adminYN" column="ADMIN_YN"/>
 	</resultMap>
 
 	<select id="selectAllReport" resultMap="ReportResultMap">
 		SELECT * FROM REPORT_TBL
 	</select>
 	<select id="selectAllMember" resultMap="MemberResultMap">
 		SELECT * FROM MEMBER_TBL WHERE MEMBER_STATUS = 'Y'
 	</select>
 	<select id="selectOneMember" resultMap="MemberResultMap">
 		SELECT * FROM MEMBER_TBL
 		WHERE MEMBER_ID = #{memberId}
 		AND MEMBER_NAME = #{memberName}
 		AND MEMBER_STATUS = 'Y'
 	</select>
	<update id="deleteMember">
		UPDATE MEMBER_TBL SET MEMBER_STATUS = 'N' WHERE MEMBER_ID = #{memberId}
	</update>
	<update id="updateMember">
		UPDATE MEMBER_TBL SET MEMBER_ID = #{memberId}, MEMBER_PWD = #{memberPwd}, MEMBER_EMAIL = #{memberEmail}, MEMBER_NAME = #{memberName}, MEMBER_NICK = #{memberNick}, MEMBER_BD = #{memberBd}, MEMBER_GRADE = #{memberGrade}, MEMBER_GENDER = #{memberGender}, MEMBER_PHONE = #{memberPhone}
		WHERE MEMBER_ID = #{memberId}
	</update>
	
 </mapper>