<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="AdminMapper">
 	<resultMap type="Report" id="ReportResultMap">
 		<id property="reportNo" column="REPORT_NO" />
 		<result property="commonType" column="COMMON_TYPE" />
 		<result property="commonNo" column="COMMON_NO" />
 		<result property="reportType" column="REPORT_TYPE" />
 		<result property="reportTitle" column="REPORT_TITLE" />
 		<result property="reportContents" column="REPORT_CONTENTS" />
 		<result property="reportDate" column="REPORT_DATE" />
 	</resultMap>
 
 	<select id="selectAllReport" resultMap="ReportResultMap">
 		SELECT * FROM REPORT_TBL
 	</select>
 </mapper>