<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RestaurantMapper">
	<insert id="insertRestaurant">
		INSERT INTO RESTAURANT_TBL VALUES(2, #{resArea}, #{resType}, #{resName}, #{resTel}, #{resDayoff} ,#{resMainmenu}, #{resDetail}, #{resFilename},#{resFileRename}, #{resFilepath}, #{resMap}, DEFAULT, #{resAddress})
	</insert>
</mapper>