<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RoomMapper">
	<resultMap type="Room" id="roomResultMap">
		<id property="roomNo" column="ROOM_NO" />
		<result property="roomType" column="ROOM_TYPE" />
		<result property="roomArea" column="ROOM_AREA" />
		<result property="roomName" column="ROOM_NAME" />
		<result property="roomAddress" column="ROOM_ADDRESS" />
		<result property="roomPrice" column="ROOM_PRICE" />
		<result property="roomTel" column="ROOM_TEL" />
		<result property="roomPerson" column="ROOM_PERSON" />
		<result property="roomPet" column="ROOM_PET" />
		<result property="roomCar" column="ROOM_CAR" />
		<result property="roomLocation" column="ROOM_LOCATION" />
		<result property="roomGuide" column="ROOM_GUIDE" />
		<result property="roomStatus" column="ROOM_STATUS" />
	</resultMap>
	
	<resultMap type="RoomImg" id="roomImgResultMap">
		<id property="roomImgNo" column="ROOM_IMG_NO" />
		<result property="roomNo" column="ROOM_NO" />
		<result property="roomFileName" column="ROOM_FILENAME" />
		<result property="roomFileRename" column="ROOM_FILERENAME" />
		<result property="roomFilePath" column="ROOM_FILEPATH" />
	</resultMap>
	
	<resultMap type="RoomJoin" id="roomJoinResultMap">
		<id property="roomImgNo" column="ROOM_IMG_NO"/>
		<result property="roomNo" column="ROOM_NO"/>
		<result property="roomType" column="ROOM_TYPE"/>
		<result property="roomArea" column="ROOM_AREA"/>
		<result property="roomName" column="ROOM_NAME"/>
		<result property="roomAddress" column="ROOM_ADDRESS"/>
		<result property="roomPrice" column="ROOM_PRICE"/>
		<result property="roomTel" column="ROOM_TEL"/>
		<result property="roomPerson" column="ROOM_PERSON"/>
		<result property="roomPet" column="ROOM_PET"/>
		<result property="roomCar" column="ROOM_CAR"/>
		<result property="roomLocation" column="ROOM_LOCATION"/>
		<result property="roomGuide" column="ROOM_GUIDE"/>
		<result property="roomStatus" column="ROOM_STATUS"/>
		<result property="roomFileName" column="ROOM_FILENAME"/>
		<result property="roomFileRename" column="ROOM_FILERENAME"/>
		<result property="roomFilePath" column="ROOM_FILEPATH"/>
	</resultMap>
	
	<!-- 숙소 정보 등록 -->
	<insert id="insertRoom">
		INSERT INTO ROOM_TBL VALUES(SEQ_ROOM_NO.NEXTVAL, #{roomType}, #{roomArea}, #{roomName}, #{roomAddress}, #{roomPrice}, #{roomTel}, DEFAULT, DEFAULT, #{roomCar}, #{roomLocation}, #{roomGuide}, DEFAULT)
	</insert>
	<!-- 숙소 이미지 등록 -->
	<insert id="insertRoomImg">
		INSERT INTO ROOMIMG_TBL VALUES(SEQ_ROOM_IMG_NO.NEXTVAL, SEQ_ROOM_NO.CURRVAL, #{roomFileName}, #{roomFileRename}, #{roomFilePath})
	</insert>
	<!-- 숙소 정보 삭제 -->
	<delete id="deleteDataRoom">
		DELETE FROM ROOM_TBL WHERE ROOM_NO = #{roomNo}
	</delete>
	<!-- 숙소 수정 기능 -->
	<update id="updateRoomData">
		UPDATE ROOM_TBL SET ROOM_PRICE = #{roomPrice}, ROOM_AREA = #{roomArea}, ROOM_ADDRESS = #{roomAddress}, ROOM_TEL = #{roomTel}, ROOM_PERSON = #{roomPerson}, ROOM_PET = #{roomPet}, ROOM_CAR = #{roomCar}, ROOM_LOCATION = #{roomLocation}, ROOM_GUIDE = #{roomGuide} WHERE ROOM_NO = #{roomNo}
	</update>
	<!-- 숙소 수정 이미지 -->
	<update id="updateRoomImg">
		 UPDATE ROOMIMG_TBL SET ROOM_FILENAME = #{roomFileName}, ROOM_FILERENAME = #{roomFileRename}, ROOM_FILEPATH = #{roomFilePath} WHERE ROOM_IMG_NO = #{roomImgNo}
	</update>
	<!-- 숙소 정보 리스트 전체 조회 -->
	<select id="selectAllRoom" resultMap="roomResultMap">
		SELECT * FROM ROOM_TBL WHERE ROOM_STATUS = 'Y' ORDER BY ROOM_NO DESC
	</select>
	<!-- 숙소 정보 리스트 페이징 처리 기능 -->
	<select id="selectTotalCount" resultType="_int">
		SELECT COUNT(*) FROM ROOM_TBL WHERE ROOM_STATUS = 'Y'
	</select>
	<!-- 숙소 정보 상세 조회 -->
	<select id="selectDataListOne" resultMap="roomResultMap">
		SELECT * FROM ROOM_TBL WHERE ROOM_NO = #{roomNo} AND ROOM_STATUS = 'Y'
	</select>
	<!-- 숙소 정보 이미지 상세 조회 -->
	<select id="roomImgDetail" resultMap="roomImgResultMap">
		SELECT * FROM ROOMIMG_TBL WHERE ROOM_NO = #{roomNo}
	</select>
	
	<!-- 게시글 이름으로 검색 -->
	<select id="selectNameCount" resultType="_int">
		SELECT COUNT(*) FROM ROOM_TBL
		WHERE ROOM_STATUS = 'Y' AND
		ROOM_NAME LIKE '%' || #{searchValue} || '%'
	</select>
	<select id="selectSearchName" resultMap="roomJoinResultMap">
		WITH ROOMS AS (SELECT A.ROOM_NO, B.ROOM_NAME, B.ROOM_ADDRESS, B.ROOM_PRICE, B.ROOM_AREA, B.ROOM_TYPE, B.ROOM_PERSON, B.ROOM_PET, A.ROOM_FILENAME, A.ROOM_FILERENAME, ROW_NUMBER() OVER(PARTITION BY A.ROOM_NO ORDER BY A.ROOM_NO DESC) AS C_NUM FROM ROOMIMG_TBL A JOIN ROOM_TBL B ON A.ROOM_NO = B.ROOM_NO ORDER BY ROOM_NO)
		SELECT * FROM ROOMS WHERE C_NUM = 1 
		AND ROOM_NAME LIKE '%' || #{searchValue} || '%'
	</select>
	
	<!-- 게시글 타입으로 검색 -->
	<select id="selectTypeCount" resultType="_int">
		SELECT COUNT(*) FROM ROOM_TBL
		WHERE ROOM_STATUS = 'Y'
	    AND ROOM_AREA = #{areaValue}
	    AND ROOM_TYPE = #{typeValue}
		AND ROOM_PERSON = #{personValue}
		AND ROOM_PET = #{petValue}
	</select>
	<select id="selectSearchType" resultMap="roomJoinResultMap">
		WITH ROOMS AS (SELECT A.ROOM_NO, B.ROOM_NAME, B.ROOM_ADDRESS, B.ROOM_PRICE, B.ROOM_AREA, B.ROOM_TYPE, B.ROOM_PERSON, B.ROOM_PET, A.ROOM_FILENAME, A.ROOM_FILERENAME, ROW_NUMBER() OVER(PARTITION BY A.ROOM_NO ORDER BY A.ROOM_NO DESC) AS C_NUM FROM ROOMIMG_TBL A JOIN ROOM_TBL B ON A.ROOM_NO = B.ROOM_NO ORDER BY ROOM_NO)
		SELECT * FROM ROOMS WHERE C_NUM = 1 
	    AND ROOM_AREA = #{areaValue}
	    AND ROOM_TYPE = #{typeValue}
		AND ROOM_PERSON = #{personValue}
		AND ROOM_PET = #{petValue}
	</select>
</mapper>