<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ScheduleMapper">
	<resultMap type="Schedule" id="ScheduleResultMap">
		<id property="scheduleSeq" column="SCHEDULE_SEQ"/>
		<id property="scheduleDays" column="SCHEDULE_DAYS"/>
		<result property="scheduleName" column="SCHEDULE_NAME"/>
		<result property="scheduleStart" column="SCHEDULE_START"/>
		<result property="scheduleEnd" column="SCHEDULE_END"/>
		<result property="scheduleCreate" column="S_CREATE_DATE"/>
		<result property="memberId" column="MEMBER_ID"/>
	</resultMap>
	<resultMap type="ScheduleManage" id="ScheduleManageResultMap">
		<id property="scheduleDays" column="SCHEDULE_DAYS"/>
		<id property="scheduleNo" column="SCHEDULE_NO"/>
		<id property="scheduleSeq" column="SCHEDULE_SEQ"/>
		<result property="contetnsType" column="CONTENTS_TYPE"/>
		<result property="contetnsNo" column="CONTENTS_NO"/>
		<collection property="restaurant" resultMap="RestaurantResultMap"/>
	</resultMap>
	 <resultMap type="Restaurant" 			id="RestaurantResultMap">
	 	<id 	property="resNo" 			column="RES_NO"/>			<!-- 맛집 ID-->
	 	<result property="resArea" 			column="RES_AREA"/>			<!-- 맛집 지역 -->
	 	<result property="resType" 			column="RES_TYPE"/>			<!-- 맛집 타입 -->
	 	<result property="resName" 			column="RES_NAME"/>			<!-- 맛집 가게 이름 -->
	 	<result property="resTel" 			column="RES_TEL"/> 			<!-- 맛집 연락처 -->
	 	<result property="resDayoff" 		column="RES_DAYOFF"/>		<!-- 맛집 휴일 -->
	 	<result property="resMainmenu" 		column="RES_MAINMENU"/> 	<!-- 맛집 대표메뉴 -->
	 	<result property="resDetail" 		column="RES_DETAIL"/>		<!-- 맛집 상세정보 -->
	 	<result property="resFilename" 		column="RES_FILENAME"/>		<!-- 맛집 이미지파일 업로드 -->
	 	<result property="resFileRename" 	column="RES_FILERENAME"/>	<!-- 맛집 이미지파일 업로드 후 -->
	 	<result property="resFilepath" 		column="RES_FILEPATH"/>		<!-- 맛집 이미지 경로 -->
	 	<result property="resMap" 			column="RES_MAP"/> 			<!-- 맛집 지도 위치 -->
	 	<result property="resStatus" 		column="RES_STATUS"/>		<!-- 맛집 게시 여부 (Y/N) -->
	 	<result property="resAddress" 		column="RES_ADDRESS"/>		<!-- 맛집 주소 -->
 	</resultMap>
	<select id="selectAllSchedule" resultMap="ScheduleResultMap">
		SELECT * FROM SCHEDULE_TBL WHERE SCHEDULE_DAYS = '1일차' AND MEMBER_ID = #{memberId}
	</select>
	<select id="selectAllstorage" resultMap="ScheduleResultMap">
		SELECT * FROM SCHEDULE_TBL WHERE MEMBER_ID = #{memberId}
	</select>
	<select id="selectScheduleBySeq" resultMap="ScheduleResultMap">
		SELECT * FROM SCHEDULE_TBL WHERE SCHEDULE_SEQ = #{cheduleSeq}
	</select>
	<select id="selectSMBySeq" resultMap="ScheduleManageResultMap">
		SELECT * FROM SCHEDULE_MANAGE WHERE SCHEDULE_SEQ = #{cheduleSeq} AND SCHEDULE_DAYS = #{Days}
		<!-- SELECT b.res_name, b.res_filepath FROM SCHEDULE_MANAGE a JOIN RESTAURANT_TBL b ON (a.CONTENTS_NO = b.RES_NO and a.contents_type='맛집') WHERE SCHEDULE_SEQ = 4 and schedule_days= #{Days}
		UNION ALL
		SELECT c.room_name, b.ROOM_FILEPATH FROM SCHEDULE_MANAGE a JOIN ROOMIMG_TBL b ON (a.CONTENTS_NO = b.ROOM_NO and a.contents_type='숙소')
       	JOIN ROOM_TBL C ON(b.ROOM_NO = c.ROOM_NO) WHERE SCHEDULE_SEQ = 4 and ROWNUM = 1 and schedule_days= #{Days}'
		UNION ALL
		SELECT b.attr_name, b.attr_FILEPATH FROM SCHEDULE_MANAGE a JOIN attraction_TBL b ON (a.CONTENTS_NO = b.attr_NO and a.contents_type='관광지') WHERE SCHEDULE_SEQ = 4 and schedule_days=#{Days} -->
	</select>
	<select id="dayCount" resultType="_int">
		SELECT COUNT(*) FROM SCHEDULE_TBL WHERE MEMBER_ID = #{memberId} GROUP BY SCHEDULE_SEQ 
	</select>
	<insert id="insertSchedule">
		INSERT INTO SCHEDULE_TBL VALUES(SEQ_SCHENO.NEXTVAL, #{scheduleDays},#{scheduleName}, #{scheduleStart}, #{scheduleEnd}, default, #{memberId})
	</insert>
	<insert id="AddDays">
		INSERT INTO SCHEDULE_TBL VALUES(SEQ_SCHENO.CURRVAL, #{scheduleDays},#{scheduleName}, #{scheduleStart}, #{scheduleEnd}, default, #{memberId})
	</insert>
	<insert id="insertScheduleData">
		INSERT INTO SCHEDULE_MANAGE VALUES(SEQ_SMNO.NEXTVAL, #{scheduleSeq},#{scheduleDays},#{contentsType},#{contentsNo})
	</insert>
</mapper>