<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StorageMapper">

    <resultMap type="Storage"      id="StorageResultMap">
        <id    property="stoNo"          column="STO_NO"/>
        <result property="contentsCode"      column="CONTENTS_CODE"/>
        <result property="contentsNo"      column="CONTENTS_NO"/>
        <result property="resFileRename"      column="RES_FILERENAME"/>
        <result property="resName"      column="RES_NAME"/>
        <result property="memberId"      column="MEMBER_ID"/>
    </resultMap>

	
	<insert id="insertStorage">
		INSERT INTO STORAGE_TBL VALUES(SEQ_STO_NO.NEXTVAL, #{contentsCode}, #{contentsId}, #{memberId})
	</insert>


    <!--  보관함 데이터 가져오기 -->
    <select id="getStorageDatas" resultMap="StorageResultMap">
    SELECT
            A.STO_NO
            ,A.CONTENTS_CODE
            ,A.CONTENTS_NO
            ,A.MEMBER_ID
            ,B.RES_FILEPATH
            ,B.RES_NAME
        FROM STORAGE_TBL A
        JOIN RESTAURANT_TBL B ON (A.CONTENTS_NO = B.RES_NO)
        WHERE MEMBER_ID = #{memberId}
    </select>
    
    <select id="getResDataByMemberId" resultMap="StorageResultMap">
    	SELECT
            A.STO_NO
            ,A.CONTENTS_CODE
            ,A.CONTENTS_NO
            ,A.MEMBER_ID
            ,B.RES_FILEPATH
            ,B.RES_NAME
        FROM STORAGE_TBL A
        JOIN RESTAURANT_TBL B ON (A.CONTENTS_NO = B.RES_NO AND A.CONTENTS_CODE = 'restaurant')
        WHERE MEMBER_ID = #{memberId}
    </select>
    
    <select id="getRoomDataByMemberId" resultMap="StorageResultMap">
    	SELECT
            A.STO_NO
            ,A.CONTENTS_CODE
            ,A.CONTENTS_NO
            ,A.MEMBER_ID
            ,B.ROOM_FILEPATH
            ,B.ROOM_NAME
        FROM STORAGE_TBL A
        JOIN ROOM_TBL B ON (A.CONTENTS_NO = B.ROOM_NO AND A.CONTENTS_CODE = 'room')
        WHERE MEMBER_ID = #{memberId}
    </select>
    
    <select id="getAttrDataByMemberId" resultMap="StorageResultMap">
    	SELECT
            A.STO_NO
            ,A.CONTENTS_CODE
            ,A.CONTENTS_NO
            ,A.MEMBER_ID
            ,B.ATTR_FILEPATH
            ,B.ATTR_NAME
        FROM STORAGE_TBL A
        JOIN ATTRACTION_TBL B ON (A.CONTENTS_NO = B.ATTR_NO AND A.CONTENTS_CODE = 'attraction')
        WHERE MEMBER_ID = #{memberId}
    </select>
    
    
</mapper>