<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TripMapper">
	<resultMap type="Trip" id="tripResultMap">
		<id property="tripNo" column="TRIP_NO" />
 		<result property="tripTitle" column="TRIP_TITLE" />
 		<result property="tripContents" column="TRIP_CONTENTS" />
 		<result property="tripWriter" column="TRIP_WRITER" />
 		<result property="tripCreate" column="TRIP_CREATE" />
 		<result property="tripUpdate" column="TRIP_UPDATE" />
 		<result property="tripFileName" column="TRIP_FILENAME" />
 		<result property="tripFileRename" column="TRIP_FILERENAME" />
 		<result property="tripFilePath" column="TRIP_FILEPATH" />
 		<result property="tripStatus" column="TRIP_STATUS" />
 		<result property="tripCount" column="TRIP_COUNT" />
 		<result property="tripLike" column="TRIP_LIKE" />
 		<result property="tripShow" column="TRIP_SHOW" />
 		<result property="tripProfile" column="TRIP_PROFILE" />
 	</resultMap>
 	
	<!-- 게시글 작성 -->
	<insert id="insertTrip">
		INSERT INTO TRIP_TBL VALUES(SEQ_TRIP_NO.NEXTVAL, #{tripTitle}, #{tripContents}, #{tripWriter}, DEFAULT, DEFAULT, #{tripFileName}, #{tripFileRename}, #{tripFilePath}, DEFAULT, DEFAULT, DEFAULT, DEFAULT, #{tripProfile})
	</insert>
	
	<update id="updateTrip">
		UPDATE TRIP_TBL SET TRIP_TITLE = #{tripTitle}, TRIP_CONTENTS = #{tripContents}, TRIP_FILENAME = #{tripFileName }, TRIP_FILERENAME = #{tripFileRename}, TRIP_FILEPATH = #{tripFilePath}, TRIP_UPDATE = DEFAULT WHERE TRIP_NO = #{tripNo}
	</update>
	
	<delete id="deleteTrip">
		DELETE FROM TRIP_TBL WHERE TRIP_NO = #{tripNo}
	</delete>
	
	<!-- 조회수 -->
	<update id="updateCount">
		UPDATE TRIP_TBL SET TRIP_COUNT = TRIP_COUNT +1 WHERE TRIP_NO = #{boardNo}
	</update>
	
	<!-- 게시글 전체 조회 -->
	<select id="selectAllTrip" resultMap="tripResultMap">
		SELECT * FROM TRIP_TBL WHERE TRIP_STATUS = 'Y' ORDER BY TRIP_NO DESC
	</select>
	
	<!-- 게시글 상세 조회 -->
	<select id="selectListOne" resultMap="tripResultMap">
		SELECT * FROM TRIP_TBL WHERE TRIP_NO = #{tripNo} AND TRIP_STATUS = 'Y'
	</select>
	
	<!-- 게시글 검색 -->
	<select id="selectSearchTrip" resultMap="tripResultMap">
		SELECT * FROM TRIP_TBL
		WHERE TRIP_STATUS = 'Y' AND 
		TRIP_TITLE LIKE '%' || #{searchValue} || '%' OR TRIP_WRITER LIKE '%' || #{searchValue} || '%'
	</select>
	
	<!-- 게시판 리스트 페이징,검색 기능 -->
	<select id="selectTotalCount" resultType="_int">
		SELECT COUNT(*) FROM TRIP_TBL
		WHERE TRIP_STATUS = 'Y' AND
		TRIP_TITLE LIKE '%' || #{searchValue} || '%' OR TRIP_WRITER LIKE '%' || #{searchValue} || '%'		
	</select>
</mapper>