<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 만약에 null 데이터가 전달되었으면 빈칸이 아닌 NULL로 인식하도록 설정 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.tripKase.kh.admin.domain.Report" alias="Report"/>
		<typeAlias type="com.tripKase.kh.admin.domain.NoticeImg" alias="NoticeImg"/>
		<typeAlias type="com.tripKase.kh.attraction.domain.Attraction" alias="Attraction"/>
		<typeAlias type="com.tripKase.kh.attraction.domain.AttractionImg" alias="AttrImg"/>
		<typeAlias type="com.tripKase.kh.attraction.domain.AttrImgDomain" alias="AttrImgDomain"/>
		<typeAlias type="com.tripKase.kh.course.domain.Course" alias="Course"/>
		<typeAlias type="com.tripKase.kh.course.domain.CourseImg" alias="CourseImg"/>
		<typeAlias type="com.tripKase.kh.course.domain.CourseReply" alias="CourseReply"/>
		<typeAlias type="com.tripKase.kh.course.domain.CourseMainPage" alias="CourseMainPage"/>
		<typeAlias type="com.tripKase.kh.grade.domain.Grade" alias="Grade"/>
		<typeAlias type="com.tripKase.kh.member.domain.Member" alias="Member"/>
		<typeAlias type="com.tripKase.kh.notice.domain.Notice" alias="Notice"/>
		<typeAlias type="com.tripKase.kh.notice.domain.NoticeReply" alias="NoticeReply"/>
		<typeAlias type="com.tripKase.kh.qna.domain.QnA" alias="QnA"/>
		<typeAlias type="com.tripKase.kh.restaurant.domain.Restaurant" alias="Restaurant"/>
		<typeAlias type="com.tripKase.kh.restaurant.domain.ResImg" alias="ResImg"/>
		<typeAlias type="com.tripKase.kh.room.domain.Room" alias="Room"/>
		<typeAlias type="com.tripKase.kh.room.domain.RoomImg" alias="RoomImg"/>
		<typeAlias type="com.tripKase.kh.room.domain.RoomJoin" alias="RoomJoin"/>
		<typeAlias type="com.tripKase.kh.schedule.domain.Schedule" alias="Schedule"/>
		<typeAlias type="com.tripKase.kh.schedule.domain.ScheduleManage" alias="ScheduleManage"/>
		<typeAlias type="com.tripKase.kh.storage.domain.Storage" alias="Storage"/>
		<typeAlias type="com.tripKase.kh.trip.domain.Trip" alias="Trip"/>
		<typeAlias type="com.tripKase.kh.trip.domain.TripReply" alias="TripReply"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/admin-mapper.xml"/>
		<mapper resource="mappers/attraction-mapper.xml"/>
		<mapper resource="mappers/course-mapper.xml"/>
		<mapper resource="mappers/grade-mapper.xml"/>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/notice-mapper.xml"/>
		<mapper resource="mappers/noticeReply-mapper.xml"/>
		<mapper resource="mappers/qna-mapper.xml"/>
		<mapper resource="mappers/restaurant-mapper.xml"/>
		<mapper resource="mappers/room-mapper.xml"/>
		<mapper resource="mappers/schedule-mapper.xml"/>
		<mapper resource="mappers/storage-mapper.xml"/>
		<mapper resource="mappers/trip-mapper.xml"/>
		<mapper resource="mappers/tripReply-mapper.xml"/>
	</mappers>
</configuration>